.Preloader_block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // height: 100%;
  height: 100vh;
  z-index: 9999;
  transform: translateY(0);
  transform-origin: 0 0;
  color: #fff;
  pointer-events: none;
  .Preloader_logoType svg {
    width: 100%;
    height: 100%;
    height: 100vh;
    display: block;
  }

  .masked-text {
    // x: 50%;
    // y: 50%;
    // dy: 0.35em;
    text-anchor: middle;
    font-size: 7.5em;
    font-weight: 700;
    fill: black;
    font-family: sans-serif;

    transform-origin: center;
    // animation: scaleIn 4s ease-out forwards 1s;
    animation: scaleIn 4s linear forwards 1s;
  }
  // .t_text {
  //   mask-position: 50%;
  // }

  // .Preloader_logoType svg rect {
  //   transition: all 1s ease;
  // }
}

@keyframes scaleIn {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(10);
  }
  40% {
    transform: scale(25);
  }
  60% {
    transform: scale(45);
  }
  80% {
    transform: scale(75); /* increased jump */
  }
  100% {
    transform: scale(110); /* big jump to appear fast */
    opacity: 0;
  }
}



// @keyframes scaleIn {
//   0% {
//     transform: scale(1);
//     opacity: 1;
//   }
//   10% {
//     transform: scale(7);
//   }
//   20% {
//     transform: scale(14);
//   }
//   30% {
//     transform: scale(21);
//   }
//   40% {
//     transform: scale(28);
//   }
//   50% {
//     transform: scale(35);
//   }
//   60% {
//     transform: scale(42);
//   }
//   70% {
//     transform: scale(49);
//   }
//   80% {
//     transform: scale(56);
//   }
//   90% {
//     transform: scale(63);
//   }
//   100% {
//     transform: scale(70);
//     opacity: 0;
//   }
// }

// @keyframes scaleIn {
//   0% {
//     transform: scale(1);
//     opacity: 1;
//   }
//   // 50% {
//   //   transform: scale(35);
//   // }
//   100% {
//     transform: scale(70);
//     opacity: 0;
//   }
// }

// test end
