.silver_sec1 {
  padding: 7.5em 0 0;
  .logo_row {
    .logo_col {
      margin: 12px 0;
      .logo_box {
        border: 1px solid #707070;
        border-radius: 20px;
        height: 15em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 1em;
        position: relative;
        overflow: hidden;
        &:hover {
          // &.active {
          &::before {
            transform: scaleY(1);
            transform-origin: 0 100%;
            // height: 100%;
            // bottom: 0;
            // animation: fillColor 0.3s linear forwards;
          }
          //   &::after {
          //     height: 0;
          //   }
          .logo {
            display: none;
          }
          .hover_logo {
            display: block;
          }
        }
        // &::after,
        &::before {
          content: "";
          background-color: #012094;
          border-radius: 20px;
          // width: 100%;
          //   height: 0;
          // height: 100%;
          display: block;
          // mix-blend-mode: difference;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          transform: scaleY(0);
          z-index: -1;

          transform-origin: 0 0;
          //   transition: 0.65s ease cubic-bezier(.165,.84,.44,1);
          //   transition: 0.65s ease;
          //   transform-origin: bottom;
          // animation: fillColorReverse 0.3s linear 0.2s forwards;
          transition: transform 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        .logo {
          max-width: 15.3125em;
          display: block;
        }
        .hover_logo {
          max-width: 15.3125em;
          display: none;
        }
        // &.bottomColor {
        //   &::before {
        //     top: 0;
        //     // transform: scaleY(-1);
        //     transition: 0.65s ease 0.2s;
        //     height: 0;
        //     // opacity: 0.5;
        //     // transform-origin: top;
        //   }
        //   //   &::after {
        //   //     top: 0;
        //   //   }
        // }
      }
    }
  }
}

.silver_sec2 {
  padding: 7.5em 0 0;
}

@keyframes fillColor {
  0% {
    height: 0%;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes fillColorReverse {
  0% {
    height: 100%;
    top: 0;
  }
  100% {
    height: 0%;
    top: 0;
  }
}
