.archinza_sec1 {
  padding: 7.5em 0 0;
  .archin_row {
    .arcin_col {
      margin: 12px 0;
      .box {
        position: relative;
        .gal_img {
          width: 100%;
          max-width: 100%;
        }
        // .circle {
        //   border: 2px solid #fff;
        //   border-radius: 50%;
        //   width: 2.5em;
        //   height: 2.5em;
        //   position: absolute;
        //   right: 1em;
        //   bottom: 1em;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   cursor: pointer;
        // }

        .img_select_wrapper {
          position: absolute;
          right: 1em;
          bottom: 1em;
          width: 3em;
          height: 3em;
        }

        .checkbox_container {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        /* Hide the browser's default checkbox */
        .checkbox_container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 2em;
          width: 2em;
          border: 2px solid #fff;
          border-radius: 50%;
          //   background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        // .checkbox_container:hover input ~ .checkmark {
        //   background-color: #ccc;
        // }

        /* When the checkbox is checked, add a blue background */
        .checkbox_container input:checked ~ .checkmark {
          background-color: #2196f3;
          border: none;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        .checkbox_container input:checked ~ .checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        .checkbox_container .checkmark:after {
          //   left: 9px;
          //   top: 5px;
          left: 50%;
          top: 50%;
          width: 8px;
          height: 15px;
          border: solid white;
          border-width: 0 3px 3px 0;
          //   -webkit-transform: rotate(45deg);
          //   -ms-transform: rotate(45deg);
          //   transform: rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }

  .selected_text {
    color: #fff;
    font-size: 2em;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5em;
    background-color: #2196f3;
    border-radius: 50px;
    padding: 0.5em 1em;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
  }
}

// @media (max-width: 767px) {
@media (max-width: 767px), (pointer: coarse) {
  .archinza_sec1 {
    .archin_row {
      .arcin_col {
        .box {
          .checkmark {
            border: none;
            opacity: 0;
            z-index: -1;
          }
          .checkbox_container input:checked ~ .checkmark {
            opacity: 1;
            z-index: 2;
          }
        }
      }
    }
  }
}
