.pdf_sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background: #f8f8f8;
}

.flip-book {
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.page img {
  display: block;
  margin: auto;
}
