// html, body {
//     overflow-x: hidden;
//     margin: 0;
//   }

.horizontal_scroll_container {
  overflow-x: hidden;
  .scroll-wrapper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .panels-container {
    display: flex;
    flex-direction: row;
    min-width: 100%; // Ensures all panels are in a single row
    height: 100vh;
    .title {
      font-size: 2.25em;
      margin-bottom: 0.5em;
    }
    .desc {
      font-size: 1.25em;
      margin-bottom: 1em;
    }
  }

  .panel {
    width: 40%; // Each panel takes full viewport width
    min-width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // font-size: 2rem;
    // font-weight: bold;
    padding-right: 2em;
    img {
        max-width: 100%;
    }
  }

  .blue {
    background-color: blue;
  }

  .red {
    background-color: red;
  }

  .orange {
    background-color: orange;
  }

  .purple {
    background-color: purple;
  }

  .firstContainer,
  .lastContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: yellow;
  }
}

